form id="edit-form">
<p>Edite a sua tarefa:</p>
<div class="form-control">
    <input type="text" id="edit-input">
    <button type="submit">
        <i class="ph ph-checks"></i>
    </button>
</div>
<button id="cancel-edit-btn">Cancelar</button>
</form>



const updateNoTaskMessage = () => {
const todos = todoList.querySelectorAll('.todo');
if (todos.length === 0) {
noTask.classList.remove('hide');
noTask.classList.add('title-no-task');
} else {
noTask.classList.add('hide');
noTask.classList.remove('title-no-task');
}
}


Toda vez que eu adicionar uma nova tarefa, vou pegar e adicionar
 a variavel no title das noTask -->
 
`${xTaks} Tarefas.`



// Função de salvar task
// const saveTodo = (text) => {
//     const todo = `
//         <div class="todo">
//             <h3 class="todo-list-title">${text}</h3>
//             <div class="todo-buttons">
//                 <button class="finish-todo" onclick="finishTask(this)"><i class="ph ph-check"></i></button>
//                 <button class="edit-todo" onclick="editTask(this)"><i class="ph ph-pen"></i></button>
//                 <button class="delete-todo" onclick="deleteTask(this)"><i class="ph ph-x"></i></button>
//             </div>
//         </div>
//     `

//     todoList.innerHTML += todo;
// };



// Função de deletar a tarefa da lista
// function deleteTask(element) {
//     const todoElement = element.closest('.todo');


//     if (todoElement) {
//         hideNoTask.classList.add('hide')
//         console.log('sem tarefa aparece')
//         todoList.removeChild(todoElement);

//         if (tarefas.length == 0) {
//             hideNoTask.classList.toggle('hide');
//         }
//     }
// };


// function conferirTask() {
    //     if (tarefas.length > 0) {
    //         console.log('tem tarefa')
    //         document.querySelector('.hide-no-task-task').classList.add('hide')
    //     } else {
    //         console.log('n tem tarefa')
    //         document.querySelector('.hide-no-task-task').classList.remove('hide')
    //     }
    // }

    // Função de pesquisar tarefas
searchInput.addEventListener('input', () => {
    const searchValue = searchInput.value // Obtém o valor da pesquisa 
    const todos = document.querySelectorAll('.todo'); // Seleciona todas as tarefas

    todos.forEach(todo => {
        const todoTitle = todo.querySelector('h3').innerText.toLowerCase(); // Obtém o título da tarefa em minúsculas

        // Verifica se o título contém o valor da pesquisa
        if (todoTitle.includes(searchValue)) {
            todo.style.display = 'flex'; // Mostra a tarefa se a pesquisa corresponder
        } else {
            todo.style.display = 'none'; // Oculta a tarefa se não corresponder
        }
    });

    // Exibe ou oculta a mensagem de "sem tarefa" com base na pesquisa
    const visibleTodos = Array.from(todos).some(todo => todo.style.display === 'flex');
    hideNoTask.classList.toggle('hide', visibleTodos);
});

